html, body {
    margin: 0; height: 100%; overflow: hidden
}

.begin {
    position: absolute;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

.house {
    position: absolute;
    image-rendering: pixelated;
    height: 33%;
    left: 33%;
    bottom: 1%;
}

.balloon {
    position: absolute;
    image-rendering: pixelated;
    height: 10%;
}